<nav class="main-nav">
    <a exact class='main-nav-item' routerLink="/home" routerLinkActive="selected">
        <img src='assets/icons/home.png' alt="Home" width="24px" height="24px" />
    </a>
    <a class='main-nav-item' routerLink="/contacts" routerLinkActive="selected">
        <img src="assets/icons/contact.png" alt="pets" width="24px" height="24px" />
    </a>
    <a class='main-nav-item' routerLink="/stats" routerLinkActive="selected">
        <img src="assets/icons/about.svg" alt="About" width="24px" height="24px" />
    </a>
</nav>