.filter-container {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  & > input {
    width: 100%;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 20px;
    outline: 0;
    margin-right: 10px;
  }
  img {
    cursor: pointer;
  }
}
